
body {
    margin: 0;
}

.header {
    text-align: center; /* Alinear el texto al centro */
    padding: 20px;
    background-color:#f3f1ed;
}
.left-menu,
.logo,
.right-menu {
    display: inline-block; /* Mostrar elementos en línea */
    vertical-align: middle; /* Alinear verticalmente al centro */
}

.left-menu ul,
.right-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
     /* Color de fondo */
    padding: 10px;
}

.left-menu ul li,
.right-menu ul li {
    display: inline;
}

.left-menu ul li a,
.right-menu ul li a {
    text-decoration: none;
    color: #4C423A;
    font-family: "Playfair Display", serif; 
    font-size: 18px;
    margin-right: 20px;
}
.imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    max-width: 110%;
    height: auto;
}
.redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}
.contenedor1{
    display: flex;
    background-color: #f3f1ed;
    height: 40vh;
    width: 100vw;
    flex-wrap: wrap;
    text-align: center;
    align-items: center; /* Centra horizontalmente en el eje X */
    justify-content: center;
    flex-direction: column;
}
.contenedor2{
    display: flex;
    background-color: #f3f1ed;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;

}
.contenedor3{
    display: flex;
    background-color: #f3f1ed;
    height: 110vh;
    width: 100vw;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row ;
}

.subcontenedor1 {
    display: flex;
    background-color: #f3f1ed;
    height: 80vh;
    width: 45vw;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%; /* Para que los elementos se envuelvan en múltiples líneas */
}
.subcontenedor2 {
    display: flex;
    background-color: #f3f1ed;
    height: 110vh;
    width: 50vw;
    box-sizing: border-box; /* Incluir el padding y el border en el ancho y la altura */
    flex-wrap: wrap;
    
}
.producto {
    height: 20vh;
    width: 8vw; /* Establecer la altura de los elementos en un 25% para cuatro filas */
    box-sizing: border-box; /* Incluir el padding y el border en el ancho y la altura */
    background-color: #f3f1ed;
    flex-wrap: wrap; /* Borde para visualización */
}
.producto img{
    max-width: 110%;
    height: 100%;
    width: 100%;
}
.descripcion{
    display: flex;
    height: 20vh;
    width: 35vw; /* Establecer la altura de los elementos en un 25% para cuatro filas */
    box-sizing: border-box; /* Incluir el padding y el border en el ancho y la altura */
    background-color: #f3f1ed;
    flex-wrap: wrap;
}
.descripcion h4 {
    color: grey; /* Cambia 'blue' al color que desees */
}
.descripcion h2 {
    font-family: "Playfair Display", serif; 
    font-size: 30px; /* Cambia 'blue' al color que desees */
}
.subcontenedor2 img{
    margin-top: 5%;
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 80%; /* La imagen ocupará el 100% del alto del contenedor */
    object-fit: contain

}
.subcontenedor7 {
    margin-top: 3%;
    flex: 1;
    height: 100vh;
    width: 50vh; /* Altura de los subcontenedores (ajusta según sea necesario) */ /* Margen entre los subcontenedores */
    background-color: #757887;
   /* Color de fondo de los subcontenedores (opcional) */
}
.subcontenedor8 {
    flex: 1;
    height: 80vh;
    width: 60vh; /* Altura de los subcontenedores (ajusta según sea necesario) */ /* Margen entre los subcontenedores */
    margin-top: 10%;
    margin-left: 20%; 
  /* Color de fondo de los subcontenedores (opcional) */
}
.subcontenedor8 img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupará el 100% del alto del contenedor */
    object-fit: cover; /* Escalar la imagen para que cubra el contenedor */
}
@media (max-width: 768px) {
    .left-menu,
    .right-menu {
        display: block; /* Cambiar a bloque para ocupar toda la anchura */
        text-align: center; /* Centrar el contenido */
        margin-bottom: 10px; /* Agregar un espacio entre los elementos */
    }

    .left-menu ul,
    .right-menu ul {
        padding: 10px 0; /* Ajustar el relleno */
    }

    .left-menu ul li,
    .right-menu ul li {
        display: block; /* Cambiar a bloque para ocupar toda la anchura */
        margin-right: 0; /* Quitar el margen derecho */
        margin-bottom: 5px; /* Agregar un espacio entre los elementos */
    }
    .contenedor1 {
        flex-direction: row;
        width: 100%;
        height: 40%;
    }

    .contenedor2  {
        flex-direction: row;
        width: 100%;
        height: 160%;
    }
    .contenedor3{
        flex-direction: row;
        width: 100%;
        height: 50%;
    }

    .subcontenedor1{
        width: 100%;
        margin-top: 0;
        margin-left: 0;

    }
    .subcontenedor2 {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        height: 55%;
    }
    .producto {
        width: 20%;
    }
    .descripcion {
        width: 75%;
    }
    .descripcion h2 {
        font-family: "Playfair Display", serif; 
        font-size: 18px; 
    }
    .subcontenedor2,.subcontenedor7{
        margin-left: 0;
        margin-top: 30%;
        flex-direction: column;
        width: 50%;
        height: 100%;
    }
    .subcontenedor8{
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}
